---
- name: Ensure install directory exists
  ansible.builtin.file:
    path: "{{ guacamole_install_dir }}"
    state: directory
    mode: '0755'
  
- name: Pushing docker-compose.yml for guacamole
  ansible.builtin.template:
    src: docker-compose.j2
    dest: "{{ guacamole_install_dir }}/docker-compose.yml"

- name: Start guacamole
  command: docker compose up -d
  args:
    chdir: "{{ guacamole_install_dir }}"
  #ignore_errors: true

- name: Wait for Guacamole to be available
  ansible.builtin.uri:
    url: http://localhost:{{ guacamole_port }}
    status_code: 200
  register: guac_check
  retries: 10
  delay: 6
  until: guac_check.status == 200

- name: Create multiple connections
  include_tasks: tasks/create_connection.yml
  loop: "{{ guacamole_connections }}"
  loop_control:
    loop_var: item

- name: Access Guacamole
  ansible.builtin.debug:
    msg: "Access Guacamole at http://{{ ansible_host }}:8080 using guacadmin:guacadmin"